########################################
# PYTHON
########################################
__pycache__/
*.py[cod]
*.so
*.zip

########################################
# AMBIENTES VIRTUAIS
########################################
.env
.venv/
.venv*/
venv/

########################################
# NOTEBOOKS
########################################
.ipynb_checkpoints/

########################################
# DADOS — CONTROLADOS PELO DVC
########################################
data/raw/
data/interim/
data/processed/
data/predictions/
data/evaluation/
data/external/
outputs/


########################################
# MODELOS — CONTROLADOS PELO DVC
########################################
models/

########################################
# LOGS
########################################
logs/
*.log

########################################
# HYDRA — GERADO AUTOMATICAMENTE
########################################
outputs/

########################################
# MLflow (local only)
########################################
mlruns/

########################################
# DVC
########################################
.dvc/cache/
.dvc/tmp/
# Mas permitimos arquivos .dvc
!.dvc/*.dvc

########################################
# EDITORES / SISTEMA
########################################
.vscode/
.DS_Store
Thumbs.db

########################################
# ITENS ESPECÍFICOS TEMPORÁRIOS
########################################
/test_dvc.txt
